body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    margin: 0;
    border: 0;

}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a:link {
    text-decoration: none;
}


.left {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 72px;
}
.main {
    font-size: 48px;
    color:#F9FAF8;
}

.secondary,
a:link {
    font-size: 18px;
    color:#E5E7EB
}

img {
    width: 400px;
    height: auto;
}
